<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>myfilesOnline</title>

</head>

<body>

    <header>
        <h1>Welcome to myFilesOnline!</h1>
        <h2>Start saving your files online:</h2>
    </header>

    <main>
        
        <section>
            <a href="{{ url_for('loginpage') }}"><strong>Go to Log in page</strong></a>
        </section>
       
        <section>

            <h2>Join account</h2>

            <form>

                <button><h2>Login</h2></button>
                <p>Do not have an account?</p>
                <button><h2>Sigin</h2></button>

            </form>

        </section>


    </main>



</body>


</html>